<%include common/header.ejs%>

  <!--简介以及测试链接-->
  <div class="jumbotron">
    <!--关于治未病理论体系的简单介绍-->
    <p><%= description %></p>
    <p>
      <a class="btn btn-lg btn-primary" href="/judge" role="button">开始测试></a>
    </p>
  </div>


<%include common/footer.ejs%>