<% include common/header.ejs %>

<br/>
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="btn btn-primary" href="#prevention" aria-controls="prevention"
                                                  role="tab" data-toggle="tab">养生预防</a></li>
        <li role="presentation"><a class="btn btn-primary" href="#home" aria-controls="home" role="tab"
                                   data-toggle="tab">精神养生</a></li>
        <li role="presentation"><a class="btn btn-primary" href="#profile" aria-controls="profile" role="tab"
                                   data-toggle="tab">饮食养生</a></li>
        <li role="presentation"><a class="btn btn-primary" href="#messages" aria-controls="messages" role="tab"
                                   data-toggle="tab">运动养生</a></li>
        <li role="presentation"><a class="btn btn-primary" href="#settings" aria-controls="settings" role="tab"
                                   data-toggle="tab">其他养生方法</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active jumbotron" id="prevention">
            <h4>
                养生重在平素调养身心，防患于未然，是广大人民群众喜闻乐见、便于实施的保健形式，在我国具有悠久的历史、广泛的认同和普遍开展的基础，为提高全民族的健康素质发挥了积极的作用，也是中华民族对于全人类的贡献。英国学者李约瑟说：“在世界文化当中，唯独中国人的养生学是其他名族所没有的。”</h4>
            <br/>
            <h4>
                养生是中医“治未病”的基础工作和根本出发点。“智者之养生也，必须四时而适寒暑，和喜怒而安居处，节阴阳而调刚柔。如是，则僻邪不至，长生久视”（《黄帝内经》）。只有掌握和应用正确的养生方法，并且持之以恒，才能真正做到“恬淡虚无，真气从之”，“阴平阳秘，精神乃治”，维持机体内外环境的协调有序，实现理想的健康状态，达到延长生命时限和提高生活质量的目的。</h4>
            <br/><br/>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="home">
            <h3>疏泄法</h3>
            <h4>是宣达、发泄不良情绪，防止情感过度压抑，已恢复心理平衡的方法。例如，痛痛快快地大哭一场，无拘无束地喊叫一阵，或者找朋友、亲属等人倾诉苦衷，把自己心中的苦闷写在日记中等，都可以达到消除不良情绪的目的。
                转移法：是通过一定积极避开刺激源以转变情感投向，改变对不良情绪的注意力，使苦闷得以解脱的方法。以顽强的意志、理性战胜情欲之感，做到淡然无欲，或变换环境，参观游览以陶冶身心。
            </h4>
            <br/>

            <h3>转移法</h3>
            <h4>是通过一定积极避开刺激源以转变情感投向，改变对不良情绪的注意力，使苦闷得以解脱的方法。以顽强的意志、理性战胜情欲之感，做到淡然无欲，或变换环境，参观游览以陶冶身心。
            </h4>
            <br/>

            <h3>转情易性法</h3>
            <h4>
                是改变人的情志的方法。转情，即排遣情思，改变情绪的指向性；易性心志，排除内心杂念和抑郁，改变其不良情绪。如琴棋书画，陶冶性情，振奋精神，调节心理、环境和条件，有针对性地采取措施，灵活运用，疏调情志，颐养神机。例如，金元时期著名医学家张子和就非常善于运用此法。他曾治疗过一位妇人，因思虑过度而不能睡眠，家人请张子和诊治，他假装喝醉酒，对该妇人不闻不问，妇人大怒，结果当天夜晚就能够安然入睡。这就是中医运用以情胜情、移情易性方法的实例。
            </h4>
            <br/>

            <h3>运动移情法</h3>
            <h4>是通过运动以改变人的情志的方法。各种不同的运动方式，如打球、爬山、跑步、散步、太极拳、太极剑等，均能疏通气机，和畅气血，化解或发泄不良情绪，以保持心情愉快，精神饱满。
            </h4>
            <br/>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="profile">
            <h4>饮食养生总的原则很简单，就是要保持消化道的畅通，从而保证消化道功能的正常发挥。</h4>
            <h4> 《抱朴子养生诀》</h4>
            <h4> 若要养生，肠中常清；</h4>
            <h4> 若要不死，肠中无渣。</h4>
            <br/>
            <h4>《饮食养生歌》</h4>
            <h4> 吃饭先喝汤，肠胃不受伤；</h4>
            <h4> 饭菜宜清淡，少盐少病患；</h4>
            <h4> 清晨一杯水，生津润脾胃；</h4>
            <h4> 宁让饭菜剩，不让胃胀撑。</h4>
            <br/>
            <h4> 《喝茶养生诀》</h4>
            <h4> 姜茶能治痢，红茶能和胃；</h4>
            <h4> 菊花茶明目，浓茶伤五内；</h4>
            <h4> 午茶长精神，晚茶难入睡；</h4>
            <h4> 饭后茶漱口，洁齿除垢秽；</h4>
            <h4> 饭后茶化食，淡茶保年岁。</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="messages">
            <h4>积极主动，兴趣广泛；运动适度，不宜过量；循序渐进，适可而止；经常锻炼，持之以恒；全面锻炼，因时制宜。</h4>
            <h3>春季锻炼</h3>
            <h4>……</h4>
            <h3>夏季锻炼</h3>
            <h4>……</h4>
            <h3>秋季锻炼</h3>
            <h4>……</h4>
            <h3>冬季锻炼</h3>
            <h4>……</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="settings">
            <h3>针灸推拿养生法</h3>
            <h4>拔罐法、刺血疗法、刮痧法、推拿。</h4>
            <br/>
            <h3>房事养生</h3>
            <h4>我国古代关于房事养生的研究，不仅有科学的独创理论，而且有许多易于实行的有效方法。其总的要求是，欲不可绝、欲不可早、欲不可纵、欲不可强、欲有所忌和欲有所避，这些我们都应该遵守。</h4>
            <br/>
            <h3>气功养生</h3>
            <h4>古代的气功包括呼吸运动、肢体运动和自我按摩在内，并被用于防病治病。现在比较流行的太极拳，其实就是养生保健气功的一种，锻炼起来，怡情娱性，比较适合中老年人。</h4>
            <br/>
            <h3>药物养生</h3>
            <h4>黄芪膏、熟地膏、桑葚膏、养生返精丸、补骨脂丸、二精丸、胡桃丸、乌麻散、神仙耳茯苓延年不老方、人参固本丸。</h4>
            <br/>
        </div>
    </div>

</div>


<% include common/footer.ejs %>