<% include common/header.ejs %>

<br/>
<div>

    <!-- Nav tabs -->
    <ul class="list-group col-lg-2" role="tablist">
        <li role="presentation" class="list-group-item active"><a href="#prevention" aria-controls="prevention"
                                                  role="tab" data-toggle="tab">亚健康及防治</a></li>
        <li role="presentation" class="list-group-item"><a href="#home" aria-controls="home" role="tab"
                                   data-toggle="tab">睡眠障碍</a></li>
        <li role="presentation" class="list-group-item"><a href="#profile" aria-controls="profile" role="tab"
                                   data-toggle="tab">情绪忧郁</a></li>
        <li role="presentation" class="list-group-item"><a href="#messages" aria-controls="messages" role="tab"
                                   data-toggle="tab">畏寒怕冷</a></li>
        <li role="presentation" class="list-group-item"><a href="#settings" aria-controls="settings" role="tab"
                                   data-toggle="tab">反复感冒</a></li>
        <li role="presentation" class="list-group-item"><a href="#text" aria-controls="text" role="tab"
                                                           data-toggle="tab">长期便秘</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content col-lg-10">
        <div role="tabpanel" class="tab-pane active jumbotron" id="prevention">
            <h4>
                中医学认为，健康的生活、行为、工作方式是提高生命质量，预防“亚健康”的根本方法：
            </h4>
            <br/>
            <h4>
                饮食有节、起居有常、情志调畅、劳逸适度等养生之术是平素自我防治亚健康的有效手段；
            </h4>
            <h4>调整阴阳失衡状态，是治疗亚健康总的指导原则；</h4>
            <h4>益气养心、疏肝解郁是中医药干预亚健康的治疗大法。</h4>
            <br/><br/>
            <h4>下面介绍几种亚健康状态的调节方法。</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="home">
            <h3 class="text-center">睡眠障碍</h3>
            <h4>对于睡眠障碍应采取综合措施，如心理疏导、体育疗法、足浴疗法、音乐疗法等。应忌饮浓茶、浓咖啡，忌吸烟，忌饮白酒，晚餐勿过饥过饱。某些中药对睡眠障碍有良好效果，可选择以下宁心安神一类的中药服用：</h4>
            <h4>茯神奶：将茯神粉10g用少量凉开水花开，再将煮沸的鲜奶200g冲入即成。早、晚分服。</h4>
            <h4>《药品化义》云：“其体沉重，重可去怯，其性温补，补可去弱。戴人曰，心本热，虚则寒。如心气虚怯，神不守舍，惊悸怔忡，神魂恍惚，劳怯健忘，俱宜温养心神，非此不能也。”</h4>
            <h4>现代药理研究表明，茯神具有镇静作用，实验动物用茯神10~20g/kg灌胃后，进入安静欲睡状态。</h4>
            <h4>酸枣仁茶：将酸枣仁15g放入茶中，沸水冲泡，加盖闷10分钟。代茶，频频饮用。可与柏子仁同服。</h4>
            <h4>《本草纲目》云：“味酸性收，故主肝病，寒热结气，酸痹久泄，脐下满痛之证。其仁甘而润，故熟用疗胆虚不得眠、烦渴虚汗证；生用疗胆热好眠，皆足厥阴、少阳药也。令人专以为心家药，殊昧此理。”现代药理研究证实，酸枣仁有抑制中枢神经系统而呈现镇静和催眠作用。</h4>
            <h4>远志茶：将炙远志10g洗净切成薄片，放入茶杯中，沸水冲泡，加盖闷30分钟。代茶，频频饮用。</h4>
            <h4>《神农本草经》云：“味苦，温。主治咳逆伤中，补不足，除邪气，利九窍，益智慧，耳目聪明，不忘，强志，倍力。久服轻身不老。”现代药理研究证实，远志具有镇静催眠、抗衰老、抗肿瘤的作用。</h4>
            <h4>甘麦大枣茶：浮小麦30g，大枣10g，炙甘草5g。同入锅中，加水适量，煮成稠汤。早、晚分服。</h4>
            <h4>《金匮要略》载：“妇人賍燥，喜悲伤、欲哭，像如神灵所作，数欠神，甘麦大枣汤主之。”</h4>
            <h4>夜交藤丹参蜜饮：夜交藤30g，丹参30g，蜂蜜15g。将夜交藤、丹参切段，晒干，入锅，加水适量，煎煮30分钟，去渣取汁，待滤汁转温后调入蜂蜜即成。临睡前炖服。</h4>
            <h4>本方具有宁心安神功效。适用于睡眠障碍等亚健康状态人群，对煎有心慌者尤为适宜。
                柏子仁合欢茶：柏子仁15g，合欢花6g。将柏子仁、合欢花放入茶杯中，沸水冲泡，加盖闷10分钟。代茶，频频饮用。本茶具有安神催眠功效，适用于睡眠障碍等亚健康状态人群。
            </h4>
            <h4>柏子仁炖猪心：柏子仁15g，猪心1个，精盐适量。先将猪心洗净，剖开，纳入洗净的柏子仁，盛入砂锅内，加清水适量，再将砂锅锅置于大锅中，隔水蒸炖1小时，直至猪心熟烂，加精盐调味即成。当菜佐食随意食用。柏子仁同时嚼食。具有养心安神功效，适用于睡眠障碍等亚健康状态人群，对兼有心慌者为尤为适宜。</h4>
            <h4>百合红枣莲子汤：百合15g，红枣10枚，莲子50g，红糖适量。将莲子用水泡胀剥皮，百合洗净与红枣同入锅内，加两大碗水，小火炖1小时，加红糖调味后食用。当甜点，随意食用。具有养气养阴、宁心安神之功，适用于睡眠障碍等亚健康状态人群，对兼有口干、心慌者尤为适宜。</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="profile">
            <h3 class="text-center">情绪忧郁</h3>
            <h4>当人们遇到家庭纠纷，或升学、就业、婚姻等方面的问题，或股票下跌，或职位变化等不愉快的事情时，便会感到情绪低落，心情忧郁，少言寡欢。这种情绪忧郁是一种亚健康状态的表现，如果不及时纠正，会导致抑郁症这一精神疾病或其他心身疾病。</h4>
            <h4>对于情绪忧郁，中医学认为与肝气郁结、疏泄功能失职有关，除进行心理调节外，采用疏肝理气解郁的中药，有事半功倍之效。</h4>
            <h4>佛手茶：鲜佛手12~15g（干品用6g），开水冲泡，代茶饮。</h4>
            <h4>《本草纲目》：“煮酒饮，治痰气咳嗽。煎汤，治心下气痛。”现代药理研究证实，佛手具有解除胃肠痉挛、降压的作用。</h4>
            <h4>橘皮饮：橘皮30g，可与橘核50g，橘络10g，蜂蜜30g同服。先将橘皮、橘络分别捡杂，洗净，橘皮晒干后切成丝，与橘络同放入砂锅中，加水浸泡片刻，待用。再将橘核择洗干净，晒干后敲碎，倒入砂锅中，搅拌均匀，视需要加清水适量，煎煮30分钟，用洁净纱布过滤，去渣，取滤汁放入容器，趁其温热时，调入蜂蜜，拌匀即成。上、下午分服。</h4>
            <h4>《本草图经》：“主气滞，下食，破积结及膈气。”现代药理研究证实，橘皮具有促进肠胃蠕动、消炎、抗溃疡、抑菌、利胆的作用。</h4>
            <h4>玫瑰花茶：将玫瑰花30g入杯中，用沸水冲泡，加盖闷10分钟即可饮用。代茶，频频饮用，可冲泡3~5次。</h4>
            <h4>《食物本草》云：“主利肺脾，益肝胆，辟邪恶之气，食之芳香甘美，令人神爽。”现代药理研究证实，玫瑰花含有挥发油、脂类、苯乙基、橙花醇、有机酸、红色素、黄色素、蜡纸、胡萝卜素等几十种对人体有益的成分，具有促进血液循环、消除疲劳、保护肝脏和胃肠、美颜美容的功能。</h4>
            <h4>双花茶：绿梅花3g，玫瑰花3g，黄连2g。将绿梅花、玫瑰花、黄连同入杯中，用沸水冲泡加盖闷10分钟即可饮用。代茶，频频饮用，可冲泡3~5次。具有疏肝、理气、解郁之功，适用于情绪忧郁等亚健康状态人群。</h4>
            <h4>金橘叶绿茶：金桔叶（干品）30g，绿茶2g。
                秋季金橘成熟采摘后，收集金金橘叶，洗净，晒干或烘干，贮存备用，或从中药店购买，经拣杂、洗净、晒干后切碎，与绿茶同放入砂锅，加水浸泡片刻，用中火煎煮30分钟，以洁净纱布过滤，去渣，取汁放入容器即成。早、晚分服，以温热饮用为宜。具有疏肝、理气、解郁之功，适用于情绪忧郁等亚健康状态人群。
            </h4>
            <h4>玫瑰花糕：面粉500g，面肥50g，食碱5g，玫瑰花茶100g，白糖200g，葡萄干、青梅各30g。</h4>
            <h4>将面肥用温水调匀，倒入盆内，再加入面粉及适量水，和成面团发酵。将鲜玫瑰花洗净搓碎，青梅切成小丁与葡萄干拌在一起，备用。待面团发起后，加碱揉匀，再加入鲜玫瑰花和白糖，揉均匀，然后擀成3厘米厚的四方形面片，待用。将面片逐个擀好后，放在屉上，将青梅、葡萄干均匀地撒在上面，稍按一下，用大火蒸30分钟即熟，取出晾凉，切成块即成。当点心，随意食用。具有疏肝、解郁功效，适用于情绪忧郁等亚健康状态人群。</h4>
            <h4>橘皮海带丝：橘皮25g，干海带150g，香菜30g，白糖、酱油、醋、麻油、味精各适量。
                将海带放进锅内，蒸20分钟，取出，投入热水中浸泡，洗净泥沙，沥干切丝。将海带丝放入盘中，加入酱油、白糖、麻油、味精，拌匀。将橘皮放入开水中，换两次水，洗净，沥干，剁末，放入碗中加醋拌匀，倒入海带盘中搅拌均匀，然后将香菜洗净，切段后撒上即成。当菜佐餐，随意食用。具有疏肝解郁、理气散结之功，适用于情绪忧郁等亚健康状态者，对兼有乳腺小叶增生者尤为适宜。
            </h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="messages">
            <h3 class="text-center">畏寒怕冷</h3>
            <h4>畏寒怕冷指人体排除因外在因素、病毒性感染以及身患疾病等情况下，出现比正常人更为畏惧寒冷、手足发凉的现象，多见于老年人及妇女。主要原因是饮食不当、营养缺乏、衣着不当、缺乏运动、好静少动所引起的，此类人多属于阳虚体质。选择使用如下一些具有温壮元阳作用的药物，可以消除畏寒怕冷症状。</h4>
            <h4>鹿角胶奶：将牛奶150ml放入锅中加热，煮沸即兑入鹿角胶10g，以小火缓慢加热，并用筷子不停搅拌，促使烊化，煮沸并待鹿角胶完全烊化后停火，量温后兑入蜂蜜30ml，搅拌均匀即成。上、下午分服。</h4>
            <h4>《玉楸药解》云“温肝补肾，滋益精血，治阳痿精滑，跌打损伤。”现代药理研究证实，鹿角胶具有增加血红蛋白含量、抗疲劳、增加胸腺重量、提高机体免疫功能等作用。</h4>
            <h4>肉苁蓉煎：肉苁蓉20g，水煎，每日早、晚各服1次。
                《神农本草经》云：“味咸。主治五劳七伤，补中，除茎中寒热痛，养五脏，强阴，益精气，多子，妇人癥瘕。久服轻身。”
                现代药理研究证实，肉苁蓉具有调节神经内分泌系统功能、调节免疫、抗氧化、增强体力、抗衰老、抗肝炎等作用。
            </h4>
            <h4>冬虫夏草胶囊：冬虫夏草3g，入胶囊或浸酒服用。
                《本草具备》云：“干、平，保肺益肾，止血化痰，止劳咳。”
                现代药理研究证实，冬虫夏草含有丰富的蛋白质、多种氨基酸、糖类、醇类、核苷酸、维生素、微量元素、有机酸、胆甾醇软脂酸、麦角甾醇过氧化物、麦角醇及生物碱、二十烷、β-谷甾醇等成分，具有平喘、镇咳、祛痰、抑菌、抗病毒、消炎、镇静、抗惊厥、提高细胞免疫功能、减慢心率、降血压、抑制血栓形成、降低胆固醇和甘油三酯、抗衰老、抗癌等作用。
            </h4>
            <h4>羊乳粥：肉苁蓉15g，羊肾1具，薏苡仁20g，粳米100g，精盐、麻油各适量。
                将肉苁蓉洗净，加水煎取药汁，羊肾去脂膜切细后与洗净的薏苡仁一同放入锅中，入药汁，先用大火煮沸，再转用小火熬煮成粥，加精盐调味，淋上麻油，搅匀即成。早、晚分食。具有温补脾肾、益气散寒之功，适用于畏寒怕冷、手足发凉等亚健康状态者。
            </h4>
            <h4>姜蒜炒羊肉丝：净羊肉250g，嫩生姜50g，青蒜苗50g，甜椒30g，黄酒、精盐、酱油、湿淀粉、甜面酱、植物油各适量。将羊肉洗净，切成粗丝，放在碗中，加黄酒、精盐拌匀。嫩生姜切丝，甜椒（去籽、蒂）切丝，用湿淀粉、酱油放入碗内调成芡汁。炒锅置于大火上，油热后煸炒甜椒丝至熟，盛入碗内。锅内再放入油，烧至七成热，加入羊肉丝炒散，再加嫩姜丝、甜椒丝及切段的青蒜苗炒数下，加甜面酱炒匀，放入芡汁，颠翻数下即成。当菜佐食，随意服食。具有温补脾肾、温胃散寒之功，适用于畏寒怕冷、手足发凉等亚健康状态者，对兼有性欲减退者尤为适宜。</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="settings">
            <h3 class="text-center">反复感冒</h3>
            <h4>反复感冒是指感冒过于频繁，有的人每个月要感冒几次。反复感冒（或称反复呼吸道感染）属于亚健康状态的一种表现。可以由多种病原体（主要是病毒和细菌）诱发，但根本原因是机体免疫功能不足导致，也与人缺乏多种微量元素有关。</h4>
            <h4>中医学认为，反复感冒者多为气虚体质，因肺气虚弱或肺脾气虚，表卫失固，抵御外邪侵犯的能力减弱所致。
                补益肺气、益气健脾的中药具有提高免疫力的作用，但需较长时间服用才能收敛。
            </h4>
            <h4>党参煎：党参20g，水煎服，每日两次。
                《医宗必读·本草征要》云：“味甘，性平，无毒，入脾、肺二经。补中益气，脾肺均宜……中气微弱，气短心悸，食少便溏，体倦易疲，鼓舞清阳，常服有济……功同人参，而力量较薄，但能久服，可无大弊。”
                现代药理研究证实，党参能增强网状内皮系统的吞噬功能，提高机体的免疫功能和抗病能力，并且具有抗疲劳、抗高温等作用。
            </h4>
            <h4>黄芪饮：黄芪10~15g，水煎服，每日2次。
                《神农本草经》云：“味甘，微温，主痈疽久败创，排脓止痛，大风痢疾，五痔鼠瘘，补虚，小儿百病。”
                现代药理研究证实，黄芪具有增强机体免疫功能、抗衰老、抗应激、提高机体抗病能力、保持机体环境平衡等作用。
            </h4>
            <h4>玉屏风散：黄芪、白术、防风的用药比例为2:2:1，可用黄芪10g，白术10g，防风5g。3味药物共碾为细末为1剂，混合均匀，早、晚各1次，温开水服用，1天服完。具有益气固表、预防感冒之功。</h4>
            <h4>参术红枣蜜饮：党参、白术、茯苓各10g，陈皮5g，红枣5枚，生姜片，蜂蜜20g。将党参、白术、茯苓、陈皮、红枣、生姜分别洗净，入锅，加适量水，大火煮沸，改小火煎煮30分钟，去渣取汁，将药汁转温后加入蜂蜜，搅匀即成。上、下午分服。具有益气固表、补肺健脾之功，适用于反复感冒的亚健康状态。</h4>
            <h4>白参豆浆：白参3g，豆浆200ml。将白参洗净，晒干或烘干，研成极细末，备用。将豆浆放入锅中，煮沸后，拌入白参末，搅匀，用小火煨煮10分钟即成。早、晚分服。具有益气固表、养阴生津之功。适用于反复感冒的亚健康状态者，对兼口干、咽干者尤为适宜。</h4>
            <h4>黄精玉竹豆奶：鲜黄精30g，玉竹15g，黄豆50g，糖适量。将鲜黄精、玉竹（或从中药店购买干品，其黄精、玉竹用量各为鲜品量的1/2）去除根须，洗净，置沸水中略烫。黄豆洗净，用冷水浸泡过夜（6~8小时），次日早晨与鲜黄精、玉竹同放入人家用粉碎机中粉碎，过滤取汁，入砂锅，用中火煮沸后加少量糖，待糖融化即成。早、晚分服。具有益气固表、养阴生津之功。适用于反复感冒的亚健康状态者，对兼口干咽干者尤为适宜。</h4>
            <h4>白参防风茶：白参薄片2g（或参须3g，或参叶3g，或参花2g），防风5g。将白参片（或参须、参叶、参花）与防风一同放入有盖茶杯中，用沸水冲泡，加盖焖10分钟即成。代茶、频频饮用，可连续冲泡3~5次。具有益气补肺、健脾固表之功，适用于反复感冒的亚健康状态者。</h4>
            <h4>黄芪炖乳鸽：黄芪30g，乳鸽1只，精盐、味精、麻油各适量。将乳鸽宰杀，去除毛及内脏，洗净，将黄芪洗净后切片，与乳鸽共入炖锅内，加水适量，隔水炖蒸2小时，加精盐、味精、麻油等调味品即成。当菜佐餐，吃鸽肉喝汤。具有益气补脾、养肺固表之功，适用于反复感冒的亚健康状态者。</h4>
        </div>
        <div role="tabpanel" class="tab-pane jumbotron" id="text">
            <h3 class="text-center">长期便秘</h3>
            <h4>通过饮食调节来防治大便秘结是简单易行的方法。多食富含纤维素的蔬菜，如韭菜、芹菜等。多喝水，早饭前或起床后喝一杯水有轻度通便作用。多食富含油脂的食品，如核桃仁、花生米、芝麻、菜子油、花生油等，它们都有良好的通便作用。古代曾用导引术来防治便秘。《杂病源流犀烛》曰：“保生秘要曰，以舌顶上腭，守牙壅，静念而液自生，俟满口，赤龙搅动，频漱频吞，所降直下丹田，又守静咽数回，大肠自润，行后功效。”对于年高体弱之人尤宜。一些润肠通便的中药经常服用，可以防止大便秘结。</h4>
            <h4>麻子仁粥：麻子仁、紫苏子各10~15g，捣烂如泥，加水慢研，滤汁去渣，再用粳米100g煮粥食用。
                《药品化义》云：“能润肠，体润能去燥，专利大肠气结便秘。凡年老血液枯燥，产后之血不顺，病后之气未复，或禀弱不能运行者皆治。”
                现代药理研究证实，麻子仁含有脂肪油、蛋白质、挥发油、维生素、卵磷脂、植物淄醇、亚麻酸、葡萄糖酸等。服后，其所含的脂肪油在肠中与碱性肠液便产生脂肪酸，可刺激肠壁，使分泌物增多、蠕动增快而起缓下作用。
            </h4>
            <h4>何首乌煎：生首乌10g，黑芝麻10g，煎水服用。
                《开宝本草》云：“味苦、涩，微温，无毒。主瘰疬，消痈肿，疗头面风疮、五痔，止心痛，益血气，黑髭鬓，悦颜色。久服长筋骨，益精髓，延年不老。亦治妇人产后及带下诸疾。”
                现代药理研究证实，何首乌中的蒽醌类物质，具有降低胆固醇、降血糖、抗病毒、强心、促进胃肠蠕动等作用。何首乌中所含卵磷脂是脑组织、血细胞和其他细胞膜的组成物质，经常食用何首乌可延缓衰老，强身健体，并对心脏具有保健作用。何首乌还有强壮神经的作用，可健脑益智，促进脑细胞的生长和发育，有显著的抗衰老作用。
            </h4>
            <h4>桃仁煎：桃仁20g，水煎服，每日2次。
                《药性赋》云：“味苦、甘，平，性寒，无毒。降也，阴也。其用有二：润大肠血闭之便难，破大肠久蓄之血结。”
                现代药理研究证实，桃仁具有抗菌、抗过敏、抗炎、镇痛等作用，还能改善血液流动性，解除血液浓黏凝聚的状态。
            </h4>
            <h4>决明子茶：决明子20g，开水冲浸20分即可饮用，可反复冲泡2~3次。
                《神农本草经》云：“味咸，平，主治青盲，目淫肤，赤白膜，眼赤痛泪出。”
                现代药理研究证实，决明子含大黄酚、大黄素甲醛、决明素、芦荟大黄素、大黄酸、大黄素、决明子内脂、维生素A类物质，具有降低血压和明显降低血清胆固醇的作用，有缓和的泻下作用，对黄金色葡萄球菌和皮肤真菌有抑制作用。此外，尚有收缩子宫和利尿作用。
            </h4>
            <h4>五仁粥：芝麻、松子仁、胡桃仁、桃仁（去皮、尖，炒）、甜杏仁各10g，粳米200g。将五仁合碾碎，入粳米共煮稀粥。食用时，加白糖适量，每日早、晚服用。具有滋养肝肾、润燥滑肠之功，适用于中老年血气亏虚引起的习惯性便秘。</h4>
            <h4>桃花粥：鲜桃花瓣4g（干品2g），粳米100g。将粳米煮粥，粥熟，放入桃花瓣，稍沸即可。隔日服1次。具有消肿满，下恶气、利宿水、消痰饮积滞之功，适用于肠胃燥热便秘。通便即停，不宜久服。</h4>
            <h4>松仁粥：松仁15g，粳米30g。先煮粳米粥，后将松仁和水研末做膏，入粥内，煮二三沸。空腹食，每日3次。具有润肠通便功效，适用于老年气血不足或热病伤津引起的大便秘结。</h4>
            <h4>柏子仁粥：柏子仁10~15g。柏子仁去皮捣烂，粳米加水适量，煮粥。待粥成后，兑入蜂蜜适量，再稍煮一二沸即可。具有润肠通便功效。</h4>
        </div>
    </div>

</div>


<%include common/footer.ejs%>