<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>基于“治未病”理论体系的体质判定</title>
    <% include css.ejs %>
</head>
<body background="/images/background.jpg">
<div class="container-fluid" style="min-width: 960px; max-width: 1200px">
    <% include nav-head.ejs %>