<div id="headImage"></div>
<!--顶部导航栏-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="btn btn-link" href="/judge">体质辨识</a></li>
                <li><a class="btn btn-link" href="/feature">体质特征</a></li>
                <li><a class="btn btn-link" href="/recuperate">调治方法</a></li>
                <li><a class="btn btn-link" href="/prevention">养生预防</a></li>
                <li><a class="btn btn-link" href="/subhealth">亚健康及防治</a></li>
                <li><a class="btn btn-link" href="/statistics">数据统计</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
